html{
  height: 100%;
}
body {
 background-color: #fff;
}

.navbar{  
height: 180px;
left: 0px;
top: 0px;

background: #A26F0D;
mix-blend-mode: normal;
}

/* The sidebar menu */
.sidenav {
  position: absolute;
  width: 390px;
  height: 1024px;
  left: 0px;
  top: 180px;
  background-color:#A26F0D; /* Brown */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top:0px;
}
h1 {
/* LibrarySystem */
position: absolute;
width: 227px;
height: 54px;
left: 104px;
top: 22px;

font-family: Sansita One;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #000000;
text-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);
}
h3{
  text-align: center;
}
h6{
  text-align: center;
}
.main {
  margin-left: 595px;
  padding: 0px 10px;
  margin-top: 65rem;
}

.close{
  color: red;
  
}
.barchart{
  margin-left: 495px;
  padding: 0px 10px;
  margin-top: 3rem;
}
  .LS_icon{
    position: absolute;
  width: 96px;
  height: 69px;
  left: 20px;
  top: 42px;

}
.sidenav a {
  padding: 20px 0px 86px 126px;
  text-decoration: none;
  font-size: 25px;
  display: block;  
  
}

.DB{  
font-family: Roboto;
font-style: normal;
font-size: 20px;
line-height: 93px;
text-align: left;
width: 408px;
height: 130px;

color: #000000;
  background: #FFB800;
}
.DB_icon{
  position: absolute;
width: 64px;
height: 66px;
left: 28px;
top: 30px;

}
.PM{
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 103px;
text-align: left;
width: 408px;
height: 130px;

color: #000000;
  background: #FFC632;
}
.PM_icon{
position: absolute;
width: 64px;
height: 66px;
left: 28px;
top: 160px;
}
.BM{
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 153px;
text-align: left;
width: 408px;
height: 150px;

color: #000000;
  background: #FFD15B;
}
.BM_icon{
  position: absolute;
  width: 64px;
height: 66px;
left: 28px;
top: 320px;

}
.setting{
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 113px;
text-align: left;
width: 408px;
height: 130px;

color: #000000;
  background: #FFDC83;
}
.setting_icon{
  position: absolute;
  width: 64px;
height: 66px;
left: 28px;
top: 455px;

}