<template>
    <header class="header">
        <img src="../assets/icons/LibrarySystem_icon.png" class="LS_icon">
        <h1><b>Library System</b></h1>
    </header>
</template>
<style scoped>
    h1{
        position: absolute;
        width: 227px;
        height: 54px;
        left: 104px;
        top: 22px;
        font-family: Sansita One;
        color: black;
        font-family: Sansita One;
        font-size: 48px;
        line-height: 56px;
        text-align: center;

        color: #000000;
        text-shadow: 0px 15px 4px rgba(0, 0, 0, 0.25);
    }
    header{
        position: relative;
        height: 180px;
        background: #A26F0D;
        mix-blend-mode: normal;
    }
    .LS_icon{
    position: absolute;
    width: 96px;
    height: 69px;
    left: 20px;
    top: 42px;
    }
</style>