<template>
<div>
    <b-nav vertical class="w-25">
        <div class="sidenav">
           
          <div class="dashboard">
            <router-link to="/Dashboard" active-class="active">
            <img src="../assets/icons/Dashboard_icon.png" class="DB_icon">
            <div class="DB">Dashboard</div>
            </router-link>
          </div>
         
          <div class="patron_manage">
            <router-link to="/Patron_management" active-class="active">
            <img src="../assets/icons/PatronManagement_icon.png" class="PM_icon">
            <div class="PM">PatronManagement</div>
            </router-link>
          </div>

          <div class="book_manage">
            <router-link to="/Book_management" active-class="active">
            <img src="../assets/icons/BooksManagement_icon.png" class="BM_icon">
            <div class="BM">Book Management</div>
            </router-link>
          </div>

          <div class="setting">
            <router-link to="/settings" active-class="active">
            <img src="../assets/icons/settings_icon.png" class="setting_icon">
            <div class="set">Settings</div>
            </router-link>
          </div>
          
        </div>
    </b-nav>
</div>
</template>

<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>

<style scoped>
.sidenav{
  position: absolute;
  width: 390px;
  height: 1024px;
  left: 0px;
  top: 180px;
  background-color:#A26F0D; /* Brown */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top:0px;
}

.DB_icon{
    position: absolute;
    width: 64px;
    height: 66px;
    left: 28px;
    top: 30px;
}
.DB{
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 93px;
    text-align: left;
    width: 408px;
    height: 130px;
    padding-left: 100px;
    color: #000000;
    background: #FFB800;
}
.PM_icon{
    position: absolute;
width: 64px;
height: 66px;
left: 28px;
top: 160px;
}

.PM{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 103px;
    text-align: left;
    width: 408px;
    height: 130px;
    padding-left: 100px;
    color: #000000;
    background: #FFC632;
}
.BM{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 153px;
    text-align: left;
    width: 408px;
    height: 150px;
    padding-left: 100px;
    color: #000000;
    background: #FFD15B;
}

.BM_icon{
  position: absolute;
  width: 64px;
height: 66px;
left: 28px;
top: 320px;
}

.set{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 113px;
    text-align: left;
    width: 408px;
    height: 130px;
    padding-left: 100px;
    color: #000000;
    background: #FFDC83;
}

.setting_icon{
  position: absolute;
  width: 64px;
height: 66px;
left: 28px;
top: 455px;

}
</style>