<template>
<div id="app">
<div class="patron">
<div class="main">
<h3>Patron Management</h3>
<div class="row mt-2">
<div class="row justify-content-end mr-1 mb-3">

<button v-b-modal.modalPopover id="show-btn" v-on:click="showAddModal"
class="btn rounded-pill btn-outline-primary btn-sm">Add Patron</button>
<b-modal id="modal-center" centered title="Add Patron" hide-footer>
<div class="patron">
      <form ref="form">
      <b-form-group
        label-cols-sm="5"
        label="First Name:"
        label-align-sm="right"
        label-for="firstname"
      >
        <b-form-input id="firstname" v-model="input.firstname" type="text" placeholder=""></b-form-input>
      </b-form-group>

      <b-form-group
        label-cols-sm="5"
        label="Middle Name:"
        label-align-sm="right"
        label-for="middlename"
      >
        <b-form-input id="middlename"  v-model="input.middlename" type="text" placeholder=""></b-form-input>
      </b-form-group>

      <b-form-group
        label-cols-sm="5"
        label="Last Name:"
        label-align-sm="right"
        label-for="lastname"
      >
        <b-form-input id="lastname"  v-model="input.lastname" type="text" placeholder=""></b-form-input>
      </b-form-group>

      <b-form-group
        label-cols-sm="5"
        label="Email:"
        label-align-sm="right"
        label-for="emailAdd"
      >
        <b-form-input id="emailAdd"  v-model="input.emailAdd" type="text" placeholder=""></b-form-input>
      </b-form-group>
      </form>
  </div>
<div class="modal-footer">
<button type="button" class="btn btn-info btn-lg" v-on:click="addSave" >Add</button>
</div>
</b-modal>
</div>
</div>

<div class="table">
<div class="card pl-4 pt-4 pr-4 mb-4 card-shadow">
  <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Actions</th>
              <th scope="col">Name</th>
              <th scope="col">Email Address</th>
              <th scope="col">Date Registered</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(patron, i) in patrons" :key="i">
              <td><a href="#" v-on:click="showEditModal(patron, i)" >Edit</a> |
              <a href="#" v-on:click="showdelModal(i)">Delete</a></td>
              <td>{{   + " " + patron.middlename + " " + patron.lastname }}</td>
              <td>{{ patron.emailAdd}}</td>
              <td>{{ patron.date}}</td>
            </tr>
          </tbody>
        </table>
      </div>  
      <nav aria-label="Page navigation example" class="mt-3">
        <ul class="pagination pagination-sm justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Prev</a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>

    <b-modal id="delModal" centered title="Confirm Delete">
    <p class="my-4">Are you sure you want to delete this?</p>
      <template #modal-footer="{ cancel }">
        <b-button variant="danger" @click="cancel()"> Cancel </b-button>
        <b-button variant="success" v-on:click="deletePatron"> Confirm </b-button>
      </template>
    </b-modal>
    
<b-modal id="edit-modal" centered title="Edit" hide-footer>
<div class="patron">
      <form ref="form">
      <b-form-group
        label-cols-sm="5"
        label="First Name:"
        label-align-sm="right"
        label-for="editFirstname"
      >
        <b-form-input id="editfirstname" v-model="edit.firstname" type="text" placeholder=""></b-form-input>
      </b-form-group>

      <b-form-group
        label-cols-sm="5"
        label="Middle Name:"
        label-align-sm="right"
        label-for="editMiddlename"
      >
        <b-form-input id="editMiddlename"  v-model="edit.middlename" type="text" placeholder=""></b-form-input>
      </b-form-group>

      <b-form-group
        label-cols-sm="5"
        label="Last Name:"
        label-align-sm="right"
        label-for="editLastname"
      >
        <b-form-input id="editLastname"  v-model="edit.lastname" type="text" placeholder=""></b-form-input>
      </b-form-group>

      <b-form-group
        label-cols-sm="5"
        label="Email:"
        label-align-sm="right"
        label-for="editEmailAdd"
      >
        <b-form-input id="editEmailAdd"  v-model="edit.emailAdd" type="text" placeholder=""></b-form-input>
      </b-form-group>
      </form>
  </div>
<div class="modal-footer">
<button type="button" class="btn btn-info btn-lg" v-on:click="updatePatron" >Add</button>
</div>
</b-modal>

</div>
</div>
</div>
</div>
</div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
    mounted() {
      document.title = "Patron Management"
      this.$root.$on('bv::modal::hide', () => {
        this.clearFields();
      })
      this.getPatrons();
      this.getPatronsData();
    },
    data() {
      return {
        input: {
          firstname: "",
          middlename: "",
          lastname: "",
          emailAdd: "",
        },
        modalID: '',
        index: "",
        validation:false,
      }
    },
    computed: {
      ...mapState('patrons', ['patrons'])
    },
    methods: {
      ...mapActions('patrons', ['getPatrons', 'storePatrons', 'deletePatrons', 'updatePatrons']),
      ...mapGetters('patrons', ['getPatronData']),
      validEmail(){
        let regEx = /^([a-z0-9_\-.])+@([a-z0-9_\-.])+\.([a-z0-9]{2,})$/gi
        let isEmail = regEx.test(this.data.emailAdd)
        return isEmail
      },
       async addSave() {
        this.fieldValidation(this.data)
        if(!this.validation)
        return;
        const res = await this.storePatrons(this.input)
        res.status == 200 ? this.showSuccess('Success!') : this.showError(res.data)
      },
      async deletePatron() {
        const res = await this.deletePatrons(this.index);
        if(res.status !== 200)
        this.showError(res.data)
        this.$bvModal.hide("delModal");
      },
      async editUpdate() {
        this.fieldValidation(this.data)
        if(!this.validation)
        return;
        const res = await this.updatePatrons({data: {...this.input}, index: this.index})
        res.status == 200 ? this.showSuccess("Success!") : this.showError(res.data)
      },
      showSuccess(msg){
        this.$bvModal.hide(this.modalID);
        this.$toast.success(msg);
      },
      showError(data) {
        for (const key of Object.keys(data)) {
          this.$toast.error(data[key][0]);
        }
      },
      clearFields() {
        this.input.firstname = "";
        this.input.middlename = "";
        this.input.lastname = "";
        this.input.emailAdd = "";
      },
      fieldValidation(data){
        let errors = []
        this.validation = false;
        if(data.firstname == '')
        errors.push("First name is empty!");
        if(data.middlename == '')
        errors.push("Middle name is empty!");
        if(data.lastname == '')
        errors.push("Last name is empty!");
        if(data.emailAdd == '')
        errors.push("Email addresss is empty!");
        if(errors.length > 0)
        {
          for(var e in errors){
            this.$toast.error(errors[e])
          }
          return;
        }
        this.validation = true
      }
    }
}
</script> 

<style scoped>
    .patron{
        display:flex;
        align-self: auto;
        }
    h3{
        text-align:center;
    }
    .main {
    margin-left: 655px;
    padding: 0px 10px;
    margin-top: 7rem;
    }
</style>