<template>
<div id="app">
<div class="book">
<div class="main">
<h3>Book Management</h3>
<div class="row mt-2">
<div class="row justify-content-end mr-1 mb-3">
              
<button v-b-modal.modalPopover id="show-btn" v-on:click="showAddModal" 
class="btn rounded-pill btn-outline-primary btn-sm">Add Books</button>
<b-modal id="modal-center" centered title="Add Books" hide-footer>
      <div class="books1">
      <form ref="form">
      <b-form-group
        label-cols-sm="2"
        label="Name:"
        label-align-sm="right"
        label-for="name"
      >
        <b-form-input id="name" v-model="input.name" type="text" placeholder=""></b-form-input>
      </b-form-group>

      <b-form-group
        label-cols-sm="2"
        label="Author:"
        label-align-sm="right"
        label-for="author"
      >
        <b-form-input id="author" v-model="input.author" type="text" placeholder=""></b-form-input>
      </b-form-group>

      <b-form-group
        label-cols-sm="2"
        label="Copies:"
        label-align-sm="right"
        label-for="copies"
      >
        <b-form-input id="copies" v-model="input.copies" type="number" placeholder=""></b-form-input>
      </b-form-group>

      <b-form-group
        label-cols-sm="2"
        label="Category:"
        label-align-sm="right"
        label-for="categories"
      >
        <b-form-input id="categories" v-model="input.categories_id" type="text" placeholder=""></b-form-input>
      </b-form-group>
      </form>
      </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-info btn-lg" v-on:click="addSave" >Add</button>
    </div>
    </b-modal>
</div>
</div>

<div class="table">
<div class="card pl-4 pt-4 pr-4 mb-4 card-shadow">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" style="padding-left: 50px;">Actions</th>
          <th scope="col">Name</th>
          <th scope="col">Author</th>
          <th scope="col">Copies</th>
          <th scope="col">Categories</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(book, i) in books" :key="i">
          <td><a href="#" v-on:click="showEditModal(book, i)">Edit</a> |
           <a href="#" v-on:click="showDelModal(i)">Delete</a>
           <div>
           <a type="button" 
           v-on:click="book_data.book_id = book.id; 
           id = i;" 
           class="borrowbtn btn btn-success">Borrow 
           </a>

           <a type="button" 
           v-on:click="book_data.book_id = book.id;
           id = i;"
           class="borrowbtn btn btn-danger">Return
           </a>

           </div>
          </td>   
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.copies }}</td>
          <td>{{ book.categories }}</td>
        </tr>
    </tbody>
    </table>
  </div>  
  <nav aria-label="Page navigation example" class="mt-3">
    <ul class="pagination pagination-sm justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
      </ul>
    </nav>

    <b-modal id="DelModal" centered title="Confirm Delete">
    <p class="my-4">Are you sure you want to delete this?</p>
      <template #modal-footer="{ cancel }">
        <b-button variant="danger" @click="cancel()"> Cancel </b-button>
        <b-button variant="success" v-on:click="deleteBook"> Confirm </b-button>
      </template>
    </b-modal> 

<b-modal id="edit-modal" centered title="Edit" hide-footer>
<div class="books1">
  <form ref="form">
  <b-form-group
    label-cols-sm="2"
    label="Name:"
    label-align-sm="right"
    label-for="editname"
  >
    <b-form-input id="editname" v-model="edit.name" type="text" placeholder=""></b-form-input>
  </b-form-group>

  <b-form-group
    label-cols-sm="2"
    label="Author:"
    label-align-sm="right"
    label-for="editauthor"
  >
    <b-form-input id="editauthor" v-model="edit.author" type="text" placeholder=""></b-form-input>
  </b-form-group>

  <b-form-group
    label-cols-sm="2"
    label="Copies:"
    label-align-sm="right"
    label-for="editcopies"
  >
    <b-form-input id="editcopies" v-model="edit.copies" type="number" placeholder=""></b-form-input>
  </b-form-group>

  <b-form-group
    label-cols-sm="2"
    label="Category:"
    label-align-sm="right"
    label-for="editcategories"
  >
    <b-form-input id="editcategories" v-model="edit.categories" type="text" placeholder=""></b-form-input>
  </b-form-group>
  </form>
  </div>
<div class="modal-footer">
<button type="button" class="btn btn-info btn-lg" v-on:click="editUpdate" >Add</button>
</div>
</b-modal>


<b-modal id="borrowed-modal" centered title="Borrowed" hide-footer>
<div class="books1">
  <form ref="form">
  <b-form-group
    label-cols-sm="2"
    label="Patron:"
    label-align-sm="right"
    label-for="selectCustom"
  >
    <b-form-select id="selectCustom" v-model="book_data.patron_id" class="select-custom">
      <option selected disabled>Select a Patron</option>
      <option v-for="(patron, i) in patrons" :key="i" :value="patron_id"> 
      {{patron.firstname + " " +patron.middlename + " " +patron.lastname}} 
      </option>
    </b-form-select>
  </b-form-group>

  <b-form-group
    label-cols-sm="2"
    label="Copies:"
    label-align-sm="right"
    label-for="copies"
  >
    <b-form-input id="copies" v-model="book_data.copies" type="number" placeholder=""></b-form-input>
  </b-form-group>
  </form>
  </div>
<div class="modal-footer">
<b-button variant="success" v-on:click="borrow_confirm">Confirm</b-button>
<b-button variant="danger" @click="cancel()"> Cancel </b-button>>
</div>
</b-modal>


<b-modal id="returned-modal" centered title="Returned" hide-footer>
<div class="books1">
  <form ref="form">
  <b-form-group
    label-cols-sm="2"
    label="Patron:"
    label-align-sm="right"
    label-for="selectCustom"
  >
    <b-form-select id="selectCustom" v-model="book_data.patron_id" class="select-custom">
      <option selected disabled>Select a Patron</option>
      <option v-for="(patron, i) in patrons" :key="i" :value="patron_id"> 
      {{patron.firstname + " " +patron.middlename + " " +patron.lastname}} 
      </option>
    </b-form-select>
  </b-form-group>

  <b-form-group
    label-cols-sm="2"
    label="Copies:"
    label-align-sm="right"
    label-for="copies"
  >
    <b-form-input id="copies" v-model="book_data.copies" type="number" placeholder=""></b-form-input>
  </b-form-group>
  </form>
  </div>
<div class="modal-footer">
<b-button variant="success" v-on:click="return_confirm">Confirm</b-button>
<b-button variant="danger" @click="cancel()"> Cancel </b-button>>
</div>
</b-modal>

</div>
</div>
</div>
</div>
</div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  mounted() {
    document.title = "Book Management"
    this.getBooks();
    this.getCategories();
    this.getPatrons();
    this.$root.$on('bv::modal::show', (bvEvent,modalID) => {
      this.modalID = modalID;
    })
    this.$root.$on('bv::modal::hide', () => {
      this.clearData();
    })
  },
  data() {
    return {
      id: '',
      data: {
        name: '', 
        author: '', 
        copies: '', 
        categories: ''
      },
      modalID: '',
      book_data: { 
        book_id: '', 
        copies: '', 
        patron_id: ''
        },
        validation:false,
    }
  },
  computed: {
    ...mapState("books", ["books", "categories"]),
    ...mapState("patrons", ["patrons"])
  },
  methods: {
    ...mapActions("books", ["getBooks", "deleteBooks", "storeBooks", "updateBooks", "getCategories"]),
    ...mapActions("patrons", ["getPatrons"]),
    ...mapActions("returned", ["createReturned"]),
    ...mapActions("borrowed", ["createBorrowed"]),
    ...mapGetters("books", ["getBooksData"]),
    
    async borrow_confirm() {
      this.book_data.patron_id == '' ? delete this.book_data.patron_id: ''
      const res = await this.createBorrow({data: this.book_data, index: this.id})
      res.status == 200 ? this.showSuccess('Successfully borrowed'): this.showError(res.data)
    },
    async return_confirm() {
      this.book_data.patron_id == '' ? delete this.book_data.patron_id: ''
      const res = await this.createReturn({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.showSuccess('Successfully returned')
      }
      else if(res.status == 404) {
        this.$toast.error('Returned book not found');
      }
      else {
        this.showError(res.data)
      }
    },
    async addSave() {
      this.fieldValidation(this.data)
      if(!this.validation)
      return;
      const res = await this.storeBooks({...this.data})
      res.status == 200 ? this.showSuccess('Successfully saved') : this.showError(res.data)
    },
    async editUpdate() {
      this.fieldValidation(this.data)
      if(!this.validation)
      return;
      const res = await this.updateBooks({index: this.id, data: this.data})
      res.status == 200 ? this.showSuccess('Successfully Updated') : this.showError(res.data)
    },
    async deleteBook() {
      const res = await this.deleteBooks(this.id);
      if(res.status !== 200)
      this.showError(res.data)
      this.$bvModal.hide('showDelModal')
    },
    showSuccess(msg) {
      this.$bvModal.hide(this.modalID);
      this.$toast.success(msg);
    },
    showError(data){
      for (const key of Object.keys(data)) {
        this.$toast.error(data[key][0]);
      }
    },
    fieldValidation(book){
      let errors = []
      this.validation = false;
      if(book.name == '')
      errors.push('Book name is Empty!')
      if(book.author == '')
      errors.push('Author is empty!')
      if(book.copies < 0)
      errors.push('add some books!')
      if(book.categories == '')
      errors.push('Category is empty!')
      if(errors.length > 0 )
      {
        for(var e in errors){
          this.$toast.error(errors[e])
        }
        return;
      }
      this.validation = true
    }
  },
  watch: {
    
  }
}
</script>

<style scoped>
    .book{
      display:flex;
      align-self: auto;
    }
    h3{
      text-align: center;
    }
    .main {
    margin-left: 655px;
    padding: 0px 10px;
    margin-top: 7rem;
    }
</style>