body {
  background: url('https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.profile {
  float: right;
  padding: 170px 0;
  border-radius: 100%;
  width: 800px;
 
}

.transbox {
  margin: 30px;
  width: 25%;
  background-color: #ffffff;;
  padding: 70px 0;
  border: 3px;
  opacity: .60;
  border-radius: 35%;   
}

.lead {
  color: #000000;
  font-size: 30px;
  font-weight:bold;
  background-color: #fff;
  opacity: 60%;
  border-radius: 20px;
  margin: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.transbox p {
  margin: 40%;
  font-weight: bold;
  color: #ffffff;
}

.center {
  padding: 70px 0;
}

.skillbox{
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}
.skillbox p{
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.skillbox p:nth-child(2){
  float: right;
  position: relative;
  top: -25px;
}
.skill{
  background: #262626;
  box-sizing: content-box;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 10px;

}

.skill_level {
  background:  #20c20e;
  width: 100%;
  height: 20px;
}

h2 {
  text-align: center;
  color: #fff;
}

.navbar{
  opacity: 80%;
}

h3 {
  text-align: center;
}

img {
  padding: 90px 0;
  border-radius: 100%;
  float: right;
  margin-right: 150px;
}

