<template>
  <div id="app">
    <Sidebar />
    <Header />
      <router-view />
  </div>
</template>

<script>
import Sidebar from '@/components/sidebar';
import Header from '@/components/header';
export default {
components: {
  Sidebar, 
  Header
  },
};
</script>

<style>

</style>