<template>
  <div id="app">
      <div class="main">
      <div class="container pt-5" >
      <div class="row mt-5">
        <div class="col-10 col-sm-10 col-lg-6 pb-3">
          <h6>Borrowed & Returned books</h6>
          <canvas id="barChart" width="60" height="30"></canvas>
        </div>
        <div class="col-10 col-sm-10 col-lg-6 pb-3">
        <h6>Popular Book Genre</h6> 
        <canvas id="barChart_1" width="60" height="30"></canvas>
      </div>
    </div>
    </div>
    </div>
  </div>
</template>

<script>
import Chart from 'chart.js'
export default {
    mounted() {
      document.title = "dashboard"
        this.$nextTick(() => {
            var ctx = document.getElementById('barChart').getContext('2d');
        new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['JAN', 'FEB', 'MARCH', 'APRIL', 'MAY', 'JUNE'],
    datasets: [
    {
      label: 'Borrowed Books',
      backgroundColor: 'rgb(255,0,0)',
      data:[10, 8, 7, 9, 6, 10]
    },
    {
      label: 'Returned Books',
      backgroundColor: 'rgba(0,128,0)',
    }
  ],
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});

var zxy = document.getElementById('barChart_1').getContext('2d');
new Chart(zxy, {
  type: 'bar',
  data: {
    labels: ['Computer Science','History'],
    datasets: [
    {
      label: 'Most Picked Category',
      backgroundColor: 'rgb(255,182,193)',
      data:[5,8]
    },
  ],
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});
        })
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.dashboard{
    display: flex;
        justify-content: center;
        align-items: center;
        }
h3{
    text-align: center;
}
.main{
  margin-left: 495px;
  padding: 0px 10px;
  margin-top: 3rem;
}    

</style>